.wrapper_about_me_first,
.academic_information,
.academic_wrapper {
    margin: 40px 5em;
}

.psy_in_our_life__h3_spec{
    margin-top: 48px;
}

.academic_information_first_column .academic__img {
    text-align: center;
}
.academic_span{
    font-weight: 700;
}

.row_img__first__span,
.row_img_first_mpgu {
    display: block;
}

.academic__img {
    display: flex;
    justify-content: center;
}

.academic_wrapper_h5 {
    padding-bottom: 1em;
}
.academic__h6  {
    padding-bottom: 1em;
}
.academic__h6_spec {
    padding-bottom: 0.5em;
    margin-top:  1em;
}

.academic_wrapper {
    margin-top: 5em;
}

.row_img__first {
    text-align: center !important;
    display: flex !important;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 1.5em;
    justify-content: center;
    margin-top: 1em;
    height: 100%;
}

.img_wp {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 1em;
    width: 400px;
    justify-content: center;
    border: 2px solid black;
}

.row_img__first__span {
    display: block;
}

.fr-01 {
    background-image: url('../img/about_diplom_bachelor-min.png');
}

.fr-02 {
    background-image: url('../img/about_diplom_with_profession.png');
}

.fr-03 {
    background-image: url('../img/about_magister.png');
}

.fr-1 {
    background-image: url('../img/about_diplom_bachelor-min.png');
}

.fr-2 {
    background-image: url('../img/about_diplom_with_profession.png');
}

.fr-3 {
    background-image: url('../img/about_magister.png');
}

.fr-4 {
    background-image: url('../img/od/study_lesson.jpeg');
}

.fr-5 {
    background-image: url('../img/od/conf_vigot.jpeg');
}

.fr-6 {
    background-image: url('../img/od/lomonosov_2016.jpeg');
}

.fr-7 {
    background-image: url('../img/od/lomonosov_2017_gramm.jpeg');
}

.fr-8 {
    background-image: url('../img/od/lomosov-2017_sert.jpeg');
}

.fr-9 {
    background-image: url('../img/od/school_psyc.jpeg');
}

.fr-10 {
    background-image: url('../img/od/rpp.jpg');
}

.fr-11 {
    background-image: url('../img/kpt/dpdg.jpeg');
}

.fr-12 {
    background-image: url('../img/kpt/kpt_1.jpeg');
}

.fr-13 {
    background-image: url('../img/kpt/kpt_1.jpeg');
}

.fr-14 {
    background-image: url('../img/kpt/kpt_3.jpeg');
}

.fr-15 {
    background-image: url('../img/kpt/kpt_4.jpeg');
}

.fr-16 {
    background-image: url('../img/kpt/kpt_5.jpeg');
}

.fr-17 {
    background-image: url('../img/kpt/kpt_6.jpeg');
}

.fr-18 {
    background-image: url('../img/kpt/kpt_7.jpeg');
}

.fr-19 {
    background-image: url('../img/kpt/kpt_8.jpeg');
}

.fr-20 {
    background-image: url('../img/kpt/kpt_9.jpeg');
}

.fr-21 {
    background-image: url('../img/kpt/kpt_10.jpeg');
}
.fr-22 {
    background-image: url('../img/od/kpt_13.jpeg');
}
.fr-23 {
    background-image: url('../img/kpt/kpt13.jpg');
}
.academic_wrapper_last{
    padding-bottom: 10em;
}