.logo_header {
    text-align: center;
    margin-top: 2em;
}

.logo_header__a {
    font-size: 30px;
    color: black;
    font-family: "Plaufair Display", serif;
    font-weight: 100;
    letter-spacing: 1.4px;
}

.logo_header__h1 {
    font-size:1.2em;
    margin-top: 0.4em;
}
.navigation{
    display: flex;
    justify-content: space-around;
}
.navbar-item{
    color:#2b30a3;
    font-size: 1.5em;
}
