.second_nav {
    justify-content: space-around;
    display: flex;
    background-color: hsl(204, 86%, 53%);
    margin-top: 1em;
}
.second_nav ul {
    display: flex;
    justify-content: space-around;
    width: 70%;

}
.second_nav ul li a{
    color: hsl(0, 0%, 100%);
}
.depression_wrapper, .wrapper_symptoms_depression, .anxious_wrapper, .wrapper_symptoms_anxious,.wrapper_panic,.wrapper_sympotms_panic,.wrapper_anx {
    padding:0 5em;
    background-color: white;
    justify-content: center;
}
.wrapper_symptoms_anxious{
    align-items: center;
}
.wrapper_symptoms_depression {
    padding-bottom:1.5em;
}
.wrapper_symptoms_depression__image{
    background-image: url("../img/usefull_material_girl.png");
    height: 50vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.sympo{
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.method_first__list  li{
    list-style-image: url("../img/line.png")
}
.wrapper_sympotms_panic{
    align-items: center;
}
.wrapper_sympotms_panic__image{
    background-image: url("../img/useful_material_panic_attack.png");
    height: 40vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.wrapper_sympotms_panic_spec {
    padding-bottom: 5em;
}
.wrapper_sympotms_anxioux__image{
    height: 40vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/useful_material_girl_with_crow.png");
}