
.psy_first_wrapper{
    margin: 28px 5em 1em 5em;
}
.psy_second_wrapper{
    padding: 1em 5em 1em 5em;
}
.psy_in_our_life__h3 {
    text-align: center;
    font-family: "Playfair Display", serif;
    padding-bottom: 16px;
    letter-spacing: 0.5px;
}


.psy_in_our_life__p{
    font-family: "PT Serif", sans-serif;
    margin-top: 1.2em;
    padding: 0 10px;
}


.psy_third_wrapper{
    background-image: url('../img/psychoterapy_client_and_psychologist_01.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-style: contain;
    height: 35rem;
    margin: 3em auto;
    animation-name: psy;
    /* animation-direction: alternate; */
    animation-duration: 5s;
    transition-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@keyframes psy{
    0%{
        background-image: url('../img/psychoterapy_client_and_psychologist_01.png');   
    }
    50%{
        background-image: url('../img/psychoterapy_client_and_psychologist_02.png');    
    }
    100%{
        background-image: url('../img/psychoterapy_client_and_psychologist.png');    
    }
}