@media screen and (max-width: 1080px) {
    .wrapper_nav {
        display: block;
    }
    .wrapper_about_me__ava {
        width: 100%;
    }
    .wrapper_about_me {
        padding: 2em 1em;
    }
    .wrapper_reasons_to_me__h2 {
        margin:0;
        padding: 0;
    }
    .wrapper_reasons_to_me{
        margin: 0em 1em;
        padding: 0;
    }
    .main_form{
        margin: 0;
        padding-left: 0;
        
    }
}

/* Здесь я попробую написать для больших экранов */

@media screen and (min-width: 1620px) {
    .wrapper_about_me__text p{
        font-size: 21px;
    }
    .wrapper_about_me {
        padding: 5em 10em;
    }
    .wrapper_reasons_to_me{
        font-size: 20px;
    }
    input,textarea{

    }
    
}