@media screen and (max-width: 1080px) {
    .wrapper_nav {
        display: block;
    }
    .wrapper_about_me__ava {
        width: 100%;
    }
    .wrapper_about_me {
        padding: 2em 1em;
    }
    .wrapper_reasons_to_me__h2 {
        margin:0;
        padding: 0 5px;
    }
    .wrapper_reasons_to_me{
        margin: 0em 1em;
        padding: 0 5px;
    }
    .main_form{
        margin: 0;
        padding-left: 0;
        
    }
    .wrapper_about_me_first,
    .academic_information,
    .academic_wrapper {
        margin: 40px 0em !important;
    }
    
.psy_first_wrapper{
    margin: 28px 1em 1em 1em !important;
}
.psy_second_wrapper{
    padding: 1em !important;
}
.method_wrapper_first, .method_wrapper_third, .method_wrapper_fourth,.wrapper_method_fifth {
    padding: 2em 1em 1em 1em !important;
}
.depression_wrapper, .wrapper_symptoms_depression, .anxious_wrapper, .wrapper_symptoms_anxious,.wrapper_panic,.wrapper_sympotms_panic,.wrapper_anx {
    padding:0 1em !important;
    background-color: white;
    justify-content: center;
}
.first_contact, .kont_adress, .kont_adress__map {
    margin: 0 1em !important;
}
.second_nav  ul {
    display: flex !important;
    flex-direction: column;
    text-align: center;
}
    
}

/* Здесь я попробую написать для больших экранов */

@media screen and (min-width: 1620px) {
    .wrapper_about_me__text p{
        font-size: 21px;
    }
    .wrapper_about_me {
        padding: 5em 10em;
    }
    .wrapper_reasons_to_me{
        font-size: 20px;
    }
    input,textarea{

    }
    
}