input[type=submit]{
    background: rgba(238, 230, 226, 100%);
    border-radius: 25px;
    padding: 10px 20px;
    color: rgb(52, 52, 52);
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 150px;
    margin-top: 20px;
}
input[type=submit]:hover{
    cursor: pointer;
    box-shadow: 3px 4px 3px rgba(0,0,0,0.8);
    transition: 0.5s all;
    /* color: rgb(240, 235, 233); */
    /* background: rgb(68, 66, 66); */
}