/* часть с index   */

.wrapper_intro{
    background: rgba(255, 255, 255, 0.774);
    color: rgb(0, 0, 0);
    font-size: 19px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* height: 77vh; */
}
.wrapper_intro__text{
    padding-bottom:1.5em;
    font-family: 'PT Serif', serif;
}
.wrapper_intro__img{
    /* max-width:70%; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% auto;
    /* max-height:70%; */
    /* width: 100%; */
    height: 70vh; 
    background-image: url("../img/main_client_and_therapist.png");
}
.wrapper_about_me{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgb(247, 247, 247);
    padding-bottom: 50px;
    padding-left: 50px;
}
.wrapper_about_me__ava{
    padding-top: 6%;
}
.wrapper_about_me__ava img{
    width: 80%;
    height: auto;
}
.wrapper_about_me__text{
    padding-top: 3%;
    width: 40vw;
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    letter-spacing: 0.3px;
    line-height: 30px;
}
.wrapper_reasons_to_me__h2{
    padding-top: 35px;
    color:#2b30a3;
    text-align: center;
    /* letter-spacing: 1.2px; */
    font-family: 'Playfair Display', serif;
    padding-bottom: 60px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 0.9px;
    -webkit-font-smoothing: 1px;
}

.wrapper_reasons_to_me_wrap{
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}
.wrapper_reasons_to_me__card{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}
.wrapper_reasons_to_me__card img{
    width: 65%;
}
.wrapper_reasons_to_me__wrap{
    display: flex;
}
.wrapper_reasons_to_me_text{
    padding-top: 40px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'PT Serif', serif; 
    font-size: 19px;
    line-height: 1.5;
}
.wrapper_reasons_to_me_text p{
    width: 25vw;
}













/* здесь начинаются полезные материалы */
.depression_wrapper{
    /* margin-top: 35px; */
    margin-bottom: 5em;
}
.anxious_wrapper{
    background-color: #F7F7F7;
    /* padding-top: 25px; */
    padding-bottom: 25px;
}
.anxious_wrapper, .depression_wrapper, .wrapper_panic{
    padding-left:12%;
    padding-right:7%;
    /* justify-content: center; */
    /* display: flex; */
}
.wrapper_symptoms_depression{
    margin-bottom: 50px;
}
.wrapper_panic {
    padding-bottom: 55px;
}
.wrapper_sympotms_anxioux__image img, .wrapper_sympotms_panic__image img  .wrapper_symptoms_depressin__image img{
    height: 24em; 
    width: auto;
}


.wrapper_symptoms_anxious, .wrapper_sympotms_panic, .wrapper_symptoms_depression{
    display: flex;
    align-items:flex-end;
}
.wrapper_symptoms_anxious img, .wrapper_sympotms_panic img, .wrapper_symptoms_depression img{
    height:350px;
    width: auto;
}




.wrapper_symptoms_anxious p, .wrapper_sympotms_panic p, .wrapper_symptoms_depression p{
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    letter-spacing: 0.3px;
    line-height: 20px;
}
.first_head{
    margin-top: 50px;
    margin-bottom: 50px;
}
.second_head{
    text-align: center;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.wrapper_symptoms_depressin__image{
    margin-left:5%;
}






